## Basic Of Python

In [15]:
a = '5'
type(a)
print(a)


# operation
float(a)+5

5

10.0

This is my first code

In [19]:
# 10 student
# student1 = 'Rahul'
# student2 = 'Amit'
# student3 = 'Priya'
# student4 = 'Sneha'
# student5 = 'Rohit'
# student6 = 'Pooja'
# student7 = 'Karan'
# student8 = 'Neha'
# student9 = 'Vijay'
# student10 = 'Simran'

# list
students = ['Rahul', 'Amit', 'Priya', 'Sneha', 'Rohit', 'Pooja', 'Karan', 'Neha', 'Vijay', 'Simran']
print(students)

students.append('Sudheer')
print(students)

['Rahul', 'Amit', 'Priya', 'Sneha', 'Rohit', 'Pooja', 'Karan', 'Neha', 'Vijay', 'Simran']
['Rahul', 'Amit', 'Priya', 'Sneha', 'Rohit', 'Pooja', 'Karan', 'Neha', 'Vijay', 'Simran', 'Sudheer']

In [20]:
help(students.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [2]:
import keyword

len(keyword.kwlist)

35

In [3]:
and = 12

SyntaxError: invalid syntax (1120866198.py, line 1)

In [4]:
a = 12

In [5]:
# identifier
a = 12
b = 13
c = a + b

In [ ]:
# 1age = 24
# print(age)

# age1 = 24
# print(age1)

# @age = 24

# age@=23

# conclusion :
# You cant declare variable with name of keyword
# You cant declare variable starting with numbers
# You cant declare variable with special characters except _

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1382831392.py, line 7)

In [13]:
# variable
a = '10'
b = 5.5
c = "ML"

type(a), type(b), type(c)

(str, float, str)

In [16]:
id(a),id(b),id(c)

(4309308672, 4384987856, 4394136896)

In [ ]:
# case 1 : 
a = '10'
b = '10'
c = "ML"

id(a),id(b),id(c)

(4309308672, 4309308672, 4394136896)

In [20]:
b = a +'5'
print(b)
id(b)

105

4394130800

In [19]:
a

'10'

In [24]:
isAvailable = True
type(isAvailable)

prompt = """What is your name?
I am good 

"""
type(prompt)

str

In [31]:
# operation
# age = 24
# age = age + '1'
# print(age)

age = 24
age = age + int('1')
print(age)

25

In [29]:
str('1')

'1'

In [37]:
marks = [85, 90, 78, 92, 88, 76]
len(marks)
# access 
marks[0]
marks[2:5]

total_len  = len(marks)
middle_element = total_len//2
print(total_len)
print(marks[middle_element])

6
92

In [41]:
data = [85, 90, 78, 92, 88, 76,'rahul',[12,31,41]]

data[-1]

[12, 31, 41]

In [ ]:
#voting count
mum = {123,128,125}
pune = {125,126,123}
mum.intersection(pune)

{123, 125}

In [47]:
age = int(input("Enter your age: "))

if age>18:
    print("Adult")
else:
    print("Minor")

Minor

In [1]:
# function
from test_function import check_age, cbse_result

In [2]:
check_age(20)

'Adult'

In [3]:
result = cbse_result()
result [0]

'123'

In [4]:
marks = (12, 15, 14)
type(marks)

tuple

In [8]:
marks = [12, 15, 14]

sum = 0

for i in marks:
    sum = sum + i

print(sum)
avg = round(sum / len(marks), 2)
print(avg)

41
13.67

In [ ]:
sum = 0
for i in range(len(marks)):
    sum = sum + marks[i]
print(sum)
avg = round(sum / len(marks), 2)
print(avg)

0
1
2

In [7]:
age = 24
if age>18:
   print('something')
elif age<18:
   print('something else')
else:
   print('something different')

something

In [8]:
def test(age):
   print('working')

In [14]:
# Function to add two numbers
from test_function import *


help(xyz)

Help on function xyz in module test_function:

xyz(a, b)
    This function takes
    two numbers as input and
    returns their sum.
    eg. xyz(5, 10) will return 15

In [16]:
xyz(2,3)

5

In [ ]:
# doc_string
# inbuilt

In [18]:
age = int(input('enter the age'))

if age>24:
    print("Adult")
else:
    print("Minor")

Adult

In [ ]:
#output formatting
a = 10
b=20
c = 15

# print('the value of a,b and c is: ',a,b,c)

print('the value of a is {1}, value of b is {0}, value of c is {2}'.format(b,a,c))

the value of a is 20, value of b is 10, value of c is 15

In [26]:
print('the value of a is', a, ', value of b is', b, ', value of c is', c)

the value of a is 10 , value of b is 20 , value of c is 15

In [28]:
print("hello {name},{greeting}".format(name="John", greeting="Welcome"))

hello John,Welcome

In [30]:
x =10 
y = 20

x-y

-10

In [32]:
3**2

9

In [33]:
34%10

4

In [34]:
34/10

3.4

In [35]:
34//10

3

In [41]:
days_in_year = 365
month = 12
days_in_month = 30
# number of week ?
weeks_in_year = days_in_year // 7
print(weeks_in_year)
weeks_in_month = days_in_month // 7
print(weeks_in_month)

52
4

In [42]:
#comparision operation
a = 10
b = 20
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [46]:
name_1 = 'Rahul'.lower()
print('after applying lower function:',name_1)
name_2 = 'rahul'.lower()
print(name_1 == name_2)

after applying lower function: rahul
True

In [47]:
# logical operator
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [4]:
adhar_number = input("Enter your Adhar number: ")
adhar_length = len(adhar_number)
pan_number = input("Enter your PAN number: ")
pan_length = len(pan_number)

print("Adhar length:", adhar_length)
print("PAN length:", pan_length)

if (pan_length == 10) and (adhar_length == 12):
    print("valid")
else:
    print("invalid")

Adhar length: 12
PAN length: 10
valid

In [11]:
# Bitwise operations
a = 10  # 1010 in binary
b = 4   # 0100 in binary
print(a & b)  # Bitwise AND
print(a | b)  # Bitwise OR


# how this works
# Bitwise AND
# 1010
# 0100
# ----
# 0000

# Bitwise OR
# 1010
# 0100
# ----
# 1110

# Bitwise XOR
# 1010
# 0100
# ----
# 1110

# Bitwise NOT
# 1010
# ----
# 0101

# Bitwise left shift
# 1010
# ----
# 10100

# Bitwise right shift
# 1010
# ----
# 0101

0
14

In [10]:
if 1:
    print("This won't be printed")

# conclusion is that
# 1 : True
# 0 : False

This won't be printed

In [12]:
a =12
b= 8
print(a & b)

8