## Basic Of Python

In [15]:
a = '5'
type(a)
print(a)


# operation
float(a)+5

5

10.0

This is my first code

In [19]:
# 10 student
# student1 = 'Rahul'
# student2 = 'Amit'
# student3 = 'Priya'
# student4 = 'Sneha'
# student5 = 'Rohit'
# student6 = 'Pooja'
# student7 = 'Karan'
# student8 = 'Neha'
# student9 = 'Vijay'
# student10 = 'Simran'

# list
students = ['Rahul', 'Amit', 'Priya', 'Sneha', 'Rohit', 'Pooja', 'Karan', 'Neha', 'Vijay', 'Simran']
print(students)

students.append('Sudheer')
print(students)

['Rahul', 'Amit', 'Priya', 'Sneha', 'Rohit', 'Pooja', 'Karan', 'Neha', 'Vijay', 'Simran']
['Rahul', 'Amit', 'Priya', 'Sneha', 'Rohit', 'Pooja', 'Karan', 'Neha', 'Vijay', 'Simran', 'Sudheer']

In [20]:
help(students.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [2]:
import keyword

len(keyword.kwlist)

35

In [3]:
and = 12

SyntaxError: invalid syntax (1120866198.py, line 1)

In [4]:
a = 12

In [5]:
# identifier
a = 12
b = 13
c = a + b

In [ ]:
# 1age = 24
# print(age)

# age1 = 24
# print(age1)

# @age = 24

# age@=23

# conclusion :
# You cant declare variable with name of keyword
# You cant declare variable starting with numbers
# You cant declare variable with special characters except _

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1382831392.py, line 7)

In [13]:
# variable
a = '10'
b = 5.5
c = "ML"

type(a), type(b), type(c)

(str, float, str)

In [16]:
id(a),id(b),id(c)

(4309308672, 4384987856, 4394136896)

In [ ]:
# case 1 : 
a = '10'
b = '10'
c = "ML"

id(a),id(b),id(c)

(4309308672, 4309308672, 4394136896)

In [20]:
b = a +'5'
print(b)
id(b)

105

4394130800

In [19]:
a

'10'

In [24]:
isAvailable = True
type(isAvailable)

prompt = """What is your name?
I am good 

"""
type(prompt)

str

In [31]:
# operation
# age = 24
# age = age + '1'
# print(age)

age = 24
age = age + int('1')
print(age)

25

In [29]:
str('1')

'1'

In [37]:
marks = [85, 90, 78, 92, 88, 76]
len(marks)
# access 
marks[0]
marks[2:5]

total_len  = len(marks)
middle_element = total_len//2
print(total_len)
print(marks[middle_element])

6
92

In [41]:
data = [85, 90, 78, 92, 88, 76,'rahul',[12,31,41]]

data[-1]

[12, 31, 41]

In [ ]:
#voting count
mum = {123,128,125}
pune = {125,126,123}
mum.intersection(pune)

{123, 125}

In [47]:
age = int(input("Enter your age: "))

if age>18:
    print("Adult")
else:
    print("Minor")

Minor

In [1]:
# function
from test_function import check_age, cbse_result

In [2]:
check_age(20)

'Adult'

In [3]:
result = cbse_result()
result [0]

'123'

In [4]:
marks = (12, 15, 14)
type(marks)

tuple

In [8]:
marks = [12, 15, 14]

sum = 0

for i in marks:
    sum = sum + i

print(sum)
avg = round(sum / len(marks), 2)
print(avg)

41
13.67

In [ ]:
sum = 0
for i in range(len(marks)):
    sum = sum + marks[i]
print(sum)
avg = round(sum / len(marks), 2)
print(avg)

0
1
2